<mat-card id='scorecard'>

  <div id='courseHeader'>{{course?.name}}</div>
  
  <div>
    <div id='tees'>Choose Tees:</div>
    <button mat-raised-button id='teesButton' (click)='selectTees(0)'
     val='1'>{{course?.holes[0].teeBoxes[0].teeType | titlecase}}</button>
    <button mat-raised-button id='teesButton'  (click)='selectTees(1)'
     val='2'>{{course?.holes[1].teeBoxes[1].teeType | titlecase}}</button>
    <button mat-raised-button id='teesButton' (click)='selectTees(2)'
     val='3'>{{course?.holes[1].teeBoxes[2].teeType | titlecase}}</button>
    <button mat-raised-button id='teesButton' (click)='selectTees(3)'
     val='4'>{{course?.holes[1].teeBoxes[3].teeType | titlecase}}</button>
  </div>
  
  <span id='header'>Selected tees - </span>
  <span id='header'>{{course?.holes[1].teeBoxes[this.selectedTee].teeType | titlecase}}</span>
  <br>
  <span id='header'>Tee color - </span>
  <span id='header'>{{course?.holes[1].teeBoxes[this.selectedTee].teeColorType | titlecase}}</span>
  
  <div id='cardInfo'>
    <div id='header'>Front Nine</div>
    <div id='frontNine'>
      <div id='rowHeaders'>
        <div id='infoHeader'>Holes</div>
        <div id='infoHeader'>Yardage</div>
        <div id='infoHeader'>Par</div>
        <div id='infoHeader'>Handicap</div>
        <div id='infoHeader' class='headerPlayers'>Players</div>
        
        <div id='playersName'>
          <div *ngFor='let player of players'>
            <div id='playerList'>
              {{player.name | titlecase}}
            </div>
          </div>
        </div>
      </div>
      
      <div id='courseScore'>
        <div id='row' *ngFor='let hole of course?.holes.slice(0,9); let i = index'>
            
          <div id='holes'>{{hole.hole}}</div>
          <div id='yardage'>{{hole.teeBoxes[this.selectedTee].yards}}</div>
          <div id='par'>{{hole.teeBoxes[this.selectedTee].par}}</div>
          <div id='hcp'>{{hole.teeBoxes[this.selectedTee].hcp}}</div>
          
          <div id='playerScores' *ngFor='let player of players'>
            <input id='scoreInput' min='0' max='99' [(ngModel)]='player.scoresOut[i]' type='number' 
                  (change)='totalScoreOut(); saveScoresOut(player)'>
          </div>
        </div>
      </div>

      
      <div id='total'>
        <div id='column'>
          <div id='totalHeader' >Out Total</div>
          <div>{{course?.holes[0].teeBoxes[this.selectedTee].yards +
              course?.holes[1].teeBoxes[this.selectedTee].yards +
              course?.holes[2].teeBoxes[this.selectedTee].yards +
              course?.holes[3].teeBoxes[this.selectedTee].yards +
              course?.holes[4].teeBoxes[this.selectedTee].yards +
              course?.holes[5].teeBoxes[this.selectedTee].yards +
              course?.holes[6].teeBoxes[this.selectedTee].yards +
              course?.holes[7].teeBoxes[this.selectedTee].yards +
              course?.holes[8].teeBoxes[this.selectedTee].yards}}
          </div>
          <div id='totalPar'>{{course?.holes[0].teeBoxes[this.selectedTee].par +
              course?.holes[1].teeBoxes[this.selectedTee].par +
              course?.holes[2].teeBoxes[this.selectedTee].par +
              course?.holes[3].teeBoxes[this.selectedTee].par +
              course?.holes[4].teeBoxes[this.selectedTee].par +
              course?.holes[5].teeBoxes[this.selectedTee].par +
              course?.holes[6].teeBoxes[this.selectedTee].par +
              course?.holes[7].teeBoxes[this.selectedTee].par +
              course?.holes[8].teeBoxes[this.selectedTee].par}}
          </div>
          <div id='playerTotals' *ngFor='let player of players'>
            <div id='playerTotalScores'>{{outTotal(player.scoresOut)}}</div>
          </div>
        </div>
      </div>
    </div>
    <div id='backNineHeader'>Back Nine</div>
    <div id='backNine'>
        <div id='rowHeaders'>
          <div id='infoHeader'>Holes</div>
          <div id='infoHeader'>Yardage</div>
          <div id='infoHeader'>Par</div>
          <div id='infoHeader'>Handicap</div>
          <div id='infoHeader' class='headerPlayers'>Players</div>
          
          <div id='playersName'>
            <div *ngFor='let player of players'>
              <div id='playerList'>
                {{player.name | titlecase}}
              </div>
            </div>
          </div>
        </div>
        
        <div id='courseScore'>
          <div id='row' *ngFor='let hole of course?.holes.slice(9,18); let j = index'>
              
            <div id='holes'>{{hole.hole}}</div>
            <div id='yardage'>{{hole.teeBoxes[this.selectedTee].yards}}</div>
            <div id='par'>{{hole.teeBoxes[this.selectedTee].par}}</div>
            <div id='hcp'>{{hole.teeBoxes[this.selectedTee].hcp}}</div>
            
            <div id='playerScores' *ngFor='let player of players'>
              <input id='scoreInput' min='0' max='99'  [(ngModel)]='player.scoresIn[j]' type='number' 
                    (change)='totalScoreIn(); saveScoresIn(player)'>
            </div>
          </div>
        </div>
  
        
        <div id='total'>
          <div id='column2'>
            <div id='totalHeader'>In Total</div>
            <div>{{course?.holes[9].teeBoxes[this.selectedTee].yards +
                course?.holes[10].teeBoxes[this.selectedTee].yards +
                course?.holes[11].teeBoxes[this.selectedTee].yards +
                course?.holes[12].teeBoxes[this.selectedTee].yards +
                course?.holes[13].teeBoxes[this.selectedTee].yards +
                course?.holes[14].teeBoxes[this.selectedTee].yards +
                course?.holes[15].teeBoxes[this.selectedTee].yards +
                course?.holes[16].teeBoxes[this.selectedTee].yards +
                course?.holes[17].teeBoxes[this.selectedTee].yards}}
            </div>
            <div id='totalPar'>{{course?.holes[9].teeBoxes[this.selectedTee].par +
                course?.holes[10].teeBoxes[this.selectedTee].par +
                course?.holes[11].teeBoxes[this.selectedTee].par +
                course?.holes[12].teeBoxes[this.selectedTee].par +
                course?.holes[13].teeBoxes[this.selectedTee].par +
                course?.holes[14].teeBoxes[this.selectedTee].par +
                course?.holes[15].teeBoxes[this.selectedTee].par +
                course?.holes[16].teeBoxes[this.selectedTee].par +
                course?.holes[17].teeBoxes[this.selectedTee].par}}
            </div>
              <div id='playerTotals' *ngFor='let player of players'>
               <div id='playerTotalScores'>{{inTotal(player.scoresIn)}}</div>
            </div>
          </div>
        </div>

        <div id='total'>
          <div id='column'>        
            <div id='totalHeader'>Total</div>
            <div>{{course?.holes[0].teeBoxes[this.selectedTee].yards +
                course?.holes[1].teeBoxes[this.selectedTee].yards +
                course?.holes[2].teeBoxes[this.selectedTee].yards +
                course?.holes[3].teeBoxes[this.selectedTee].yards +
                course?.holes[4].teeBoxes[this.selectedTee].yards +
                course?.holes[5].teeBoxes[this.selectedTee].yards +
                course?.holes[6].teeBoxes[this.selectedTee].yards +
                course?.holes[7].teeBoxes[this.selectedTee].yards +
                course?.holes[8].teeBoxes[this.selectedTee].yards +
                course?.holes[9].teeBoxes[this.selectedTee].yards +
                course?.holes[10].teeBoxes[this.selectedTee].yards +
                course?.holes[11].teeBoxes[this.selectedTee].yards +
                course?.holes[12].teeBoxes[this.selectedTee].yards +
                course?.holes[13].teeBoxes[this.selectedTee].yards +
                course?.holes[14].teeBoxes[this.selectedTee].yards +
                course?.holes[15].teeBoxes[this.selectedTee].yards +
                course?.holes[16].teeBoxes[this.selectedTee].yards +
                course?.holes[17].teeBoxes[this.selectedTee].yards}}
            </div>
            <div id='totalPar'>{{course?.holes[0].teeBoxes[this.selectedTee].par +
                course?.holes[1].teeBoxes[this.selectedTee].par +
                course?.holes[2].teeBoxes[this.selectedTee].par +
                course?.holes[3].teeBoxes[this.selectedTee].par +
                course?.holes[4].teeBoxes[this.selectedTee].par +
                course?.holes[5].teeBoxes[this.selectedTee].par +
                course?.holes[6].teeBoxes[this.selectedTee].par +
                course?.holes[7].teeBoxes[this.selectedTee].par +
                course?.holes[8].teeBoxes[this.selectedTee].par +
                course?.holes[9].teeBoxes[this.selectedTee].par +
                course?.holes[10].teeBoxes[this.selectedTee].par +
                course?.holes[11].teeBoxes[this.selectedTee].par +
                course?.holes[12].teeBoxes[this.selectedTee].par +
                course?.holes[13].teeBoxes[this.selectedTee].par +
                course?.holes[14].teeBoxes[this.selectedTee].par +
                course?.holes[15].teeBoxes[this.selectedTee].par +
                course?.holes[16].teeBoxes[this.selectedTee].par +
                course?.holes[17].teeBoxes[this.selectedTee].par}}
            </div>
              <div id='playerTotals' *ngFor='let player of players'>
                <div id='playerTotalScores'>{{totalOut(player.scoresOut) + totalIn(player.scoresIn)}}</div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div>
    <button mat-raised-button id='button' class='buttonBottom' [routerLink]="['/playerinfo']">Edit Players</button>
</div>
</mat-card>

