
<div id='container'>
  <mat-card id='playerForm'>

      <div id='playerInput'>
        <div id='playerInputName'>
          <input #playerInput Input placeholder="Enter Players Names" value="">
        </div>
        <div>
        <button mat-raised-button id='button' class='buttonPlayer' type='button' (click)="addPlayer(playerInput.value); playerInput.value=''">Add Player</button>
        </div>
      </div>

      

        <div id='players'>
          <div id='playersNumbers'>
            <div id='name'>Player 1 - </div>
            <div id='name'>Player 2 - </div>
            <div id='name'>Player 3 - </div>
            <div id='name'>Player 4 - </div>
          </div>
            <div id='playersNames'>
              <div id='enteredPlayers' *ngFor='let player of players'>
                  {{player.name}}
              <i id='deleteIcon' class='material-icons' (click)="removePlayer(player)">delete_outline</i>
              </div>
            </div>
        </div>

        
          
        <div>
            <button mat-raised-button id='button' class='buttonBottom' [routerLink]="['/courseinfo']">Scorecard</button>
    </div>
  </mat-card>
</div>

