
<div id='container'>
  <mat-card id='playerForm'>

      <form id='playerInput'>
        <mat-form-field>
          <input #playersName matInput placeholder="Enter Players Names" value="">
        </mat-form-field>
        <button mat-raised-button id='button' class='buttonPlayer' type="button" (click)="addPlayer(playersName.value); playersName.value=''">Add Player</button>
      </form>

      

        <div id='players'>
          <div id='playersNumbers'>
            <div id='name'>Player 1 - </div>
            <div id='name'>Player 2 - </div>
            <div id='name'>Player 3 - </div>
            <div id='name'>Player 4 - </div>
          </div>
          <div id='playersNames'>
          <p id='enteredPlayers' *ngFor="let player of players">
              
          
            {{player.name}}
          

          <i id='deleteIcon' class="material-icons" (click)="deletePlayer(player)">delete_outline</i>
           
            </div>
        </div>

        
          
        <div>
            <button mat-raised-button id='button' class='buttonBottom' [routerLink]="['/courseinfo']">Scorecard</button>
    </div>
  </mat-card>
</div>

