
<div id='container'>
  <mat-card id='playerForm'>

      <form id='playerInput'>
        <mat-form-field>
          <input #playerName matInput placeholder="Enter Players Names" value="">
        </mat-form-field>
        <button mat-raised-button id='button' class='buttonplayer' type="button" (click)="addPlayer(playerName.value); playerName.value=''">Add Player</button>
      </form>

        
        <p id='enteredPlayers' *ngFor="let player of players">
        <i id='deleteicon' class="material-icons" (click)="deletePlayer(player)">delete_outline</i>  
          {{player.name}}
          
        <div id='noPlayersAdded' *ngIf='(players)?.length === 0'>Add Players</div>
          
        <div>
            <button mat-raised-button id='button' class='buttonbottom' [routerLink]="['/courseinfo']">Scorecard</button>
    </div>
  </mat-card>
</div>

